h1 {
    margin-top: 50px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#txt_welcome {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

#project_parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    text-align: center;
    position: relative;
}

.project_img {
    display: inline-block;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.project_img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.project_title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    width: 100%;
}

.project_button {
    border: 3px solid yellowgreen;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:600;
    color: yellowgreen;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

.project_button:hover {
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
}